<!DOCTYPE html>
<html lang="en">
<head></head>
<div class="panel panel-info">
	<!-- <div class="panel-heading">
		<b>Contact Information</b>
	</div> -->
	<div class="panel-body" style="padding-left: 20px;" th:fragment="photoInfo" id="photoInfoSectionBody">
		<div class="row" style="padding-left: 30px;">
			<div class="col-md-12">
				<fieldset>
					<legend style="font-size: 13px;">Upload Photo(s):</legend>
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<input id="input-24" name="input24[]" type="file" multiple class="file-loading form-control input-xs">
			         	</div>
			         	<div class="col-md-1"></div>
				   	</div>
				</fieldset>
				<form action="#" method="post" role="form" class="form-horizontal">
					<fieldset>
						<legend style="font-size: 13px;">Select Primary Photo</legend>
						<div class="form-group form-group-sm">
							<div class="row" style="padding-bottom: 10px;">
								<div class="col-md-1"></div>
								<div class="col-md-2" style="text-align: center;">
									<div class="row">
										<div class="col-md-12">
											<label>
											  <input type="radio" name="pic" id="p1" value="p1">
											</label>
										</div>
										<div class="col-md-12">
											<a class="thumbnail" href="assets/img/p1.jpg" data-lightbox="example-set" data-title="p1">
												<img class="g-img img-rounded img-responsive" src="assets/img/p1.jpg" alt="p1">
											</a>
										</div>
									</div>
								</div>
								<div class="col-md-2" style="text-align: center;">
									<div class="row">
										<div class="col-md-12">
											<label>
											  <input type="radio" name="pic" id="p2" value="p2">
											</label>
										</div>
										<div class="col-md-12">
											<a class="thumbnail" href="assets/img/p2.jpg" data-lightbox="example-set" data-title="p2">
												<img class="g-img img-rounded img-responsive" src="assets/img/p2.jpg" alt="p2">
											</a>
										</div>
									</div>
								</div>
								<div class="col-md-1"></div>
							</div>
						</div>
					</fieldset>
					<div class="form-group form-group-sm" style="padding-top: 20px;">
						<div class="col-md-12" style="text-align: center;">
							<button id="photos-save-btn"  class="btn btn-primary btn-sm" type="button" style="width: 100px;">
								<span class="g-btn-text text-uppercase">Save</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

</body>
</html>
